<div class="w3-row"
     *ngIf="domainService.currentCharakter">
    <div class="w3-col m6 l6">
        <h2>Waffen</h2>
        <div *ngFor="let grundkenntnis of domainService.currentCharakter.waffenList"
             [ngClass]="{'grund':grundkenntnis.faktor<1, 'ausnahme':grundkenntnis.faktor>1}">
            <div class="w3-row">
                <div class="w3-col m6 l6">{{grundkenntnis.name}}</div>
                <div class="w3-col m6 l6">{{grundkenntnis.erstkosten}}</div>
            </div>
            <div *ngFor="let waffe of grundkenntnis.waffen"
                 style="padding-left: 15px;"
                 class="w3-row"
                 (click)="addWaffe(waffe, grundkenntnis)">
                {{waffe.name}}
            </div>
        </div>
    </div>
    <div class="w3-col m6 l6">
        <h2>Lernliste</h2>
        Kosten : {{berechneGeplanteKosten()}}
        <div *ngFor="let grundkenntnis of domainService.currentCharakter.waffenWunschList"
             [ngClass]="{'grund':grundkenntnis.faktor<1, 'ausnahme':grundkenntnis.faktor>1}">
            <div *ngIf="grundkenntnis.waffen.length>0">
                <span>{{grundkenntnis.name}}</span>
                <div *ngFor="let waffe of grundkenntnis.waffen"
                     style="padding-left: 15px;">
                    <app-lern (remove)="removeWaffe($event, grundkenntnis)"
                              [lern]="waffe"></app-lern>
                </div>
            </div>
        </div>
    </div>
</div>